/** COLORS **/

$pale-blue: hsl(243, 100%, 93%);
$grayish-blue: hsl(229, 7%, 55%);
$dark-blue: hsl(228, 56%, 26%);
$very-dark-blue: hsl(229, 57%, 11%);

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');